.selectedPageNumber{
    color: #A679CA;

    font-weight: 700;
    background-color: #f2e7fa;
    border-radius: 5px;
}
.paginator{
    cursor: pointer;
    display: flex;
    padding-left: 50%;
    padding-right: 50%;
    justify-content: space-between;
    justify-content: space-around;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    
}
.paginator .pages{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}
.paginator .pages span{
    padding-left: 10px;
    padding-right: 10px;
}
.next{
    padding-right: 5px;
}
@media (max-width: 400px) {
    .paginator{
        font-size: 15px;
    }
    .paginator .pages span{
        padding-left: 5px;
        padding-right: 5px;
    }
}
  