.selectedPageNumber{
    color: #A679CA;
    font-weight: 800;
}
.paginator{
    cursor: pointer;
    display: flex;
    padding-left: 50%;
    padding-right: 50%;
    justify-content: space-between;
    justify-content: space-around;
    font-weight: 500;
    font-size: 15px;
}
.paginator .pages{
    padding-left: 5px;
    padding-right: 5px;
}