.formControl.error input,
.formControl.error textarea{
    border: solid red 2px;
}
.formControl.error span{
    color: red;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}
.formControl .text input{
    background-color: #efefef;
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 13px;
    border-color: black;
    border: 1px solid rgb(0, 0, 0);
}
.formControl input:hover{
    border: 1px solid rgb(255, 255, 255);
}
.formControl .checkbox {
    clip-path: circle(30% at 50% 50%);
    
    background-color: #070707;
}
.formControl .checkbox input{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.formControl .textArea textarea {
    background-color: transparent;
    width: 300px;
    border: 0;
    resize: none;
    max-height: 20vh;
    height: 100%;
    color: black;
    height: 50px;
}
.formControl .textArea textarea::placeholder {
color: black;
}
