.formControl.error input,
.formControl.error textarea{
    border: solid red 2px;
}
.formControl.error span{
    color: red;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}
.customTextAreaClassName{
    color: rgb(255, 255, 255);
    resize: none;
    min-height:50px;
    min-width:1064px;
    background-color: rgb(128, 91, 237)
}
.customTextAreaClassName::placeholder{
    color: #ffffff;
}
