.user{
    display: flex;   
    width: 100%;
}
.user .active{
    color: blue;
}
.user .ava{
    background-color: aliceblue;
    height: 100px;
    width: 100px;
    border-radius: 60px;
}
.user button{
    background-color: #C8B4E1;
    background-color: rgb(255, 255, 255);
    
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 6px;
    border-color: #000000;
}
.user button:hover{
    background-color: rgb(238, 238, 238);
}
.user .name{
    font-size: large;
}
.user .status{
    font-size: medium;
}
.user .livingPlace{
    font-size: larger;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
}
.user .firstArea{
    display: flex;
    flex-direction: column;
}
.user .secondArea{
    display: flex;
    background-color: #A679CA;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    
}
.user .thirdArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

