.item{  
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
}
.item:hover{
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    background-color: #9e6ec5;
    background-color: #efefef;
}
.itemLink{
    display: block;
    text-decoration: none;
    color: #000000;
}