.profileHeaderLayout{
    margin-bottom: 15px;
    background-color: #A679CA;
    box-shadow: 1px 2px 10px 2px #7f5d9c;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
}

.profileBackground img{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    width: 100%;
    height: 300px;
}
.profileHeader {
    display: flex;

    align-items: center;
}
.profileHeader .profilePicture{
    cursor: pointer;
    margin-top: -190px;
    width: 250px;
    clip-path: circle(47% at 50% 50%);
    background-color: aliceblue;
}
.profileHeader .changeProfilePhotoButton button{
    background-color: transparent;
    border: 0;
}
.profileHeader .profileHeaderInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileHeader .profileHeaderInfo .profileTextInfo{
    font-weight: 500;
    font-size: 25px;
    position: relative;
}
.profileHeader .profileHeaderInfo .profileTextInfo div{
    padding: 5px;
    
}
.profileHeader .profileHeaderInfo .editMode{
    height: 30px;
    padding: 15px;
    position: relative;
}
.profileBodyLayout{
    display: flex;
    
}
.profilePosts{
   padding-right: 10px;
}


@media (max-width: 800px) {
    .profileHeader .profileHeaderInfo .editMode{
        height: 100%;
    }
}

@media (max-width: 560px) {
    .profileHeaderLayout{
        box-shadow: 1px 2px 10px 2px #7f5d9c;
        border-radius: 0;
    }
    .profileBackground img{
        border-radius: 0;
        height: 150px;
    }
    .profileBodyLayout{
        display: flex;
        flex-direction: column-reverse;
    }
    .profileHeader{
        flex-direction: column;
    }
     .profileHeader .profilePicture{
        width: 200px;
        margin-top: -115px;
    }
    .profilePosts{
        padding-right: 0;
        padding-top: 10px;
     }
}









































/* .profileDescription{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    box-shadow: 1px 2px 10px 2px #7f5d9c;
    border-radius: 13px;
}
.secondArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    padding: 10px;

    font-size: 17px;
}
.thirdArea{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.profileDescription .editMode {
    width: 100px;
    height: 25px;
    position: absolute;
    padding:0;
    margin:0;
}   
.profileDescription .editMode button{
    cursor: pointer;
}   
.profileDescription .profileStatus{
   margin-top: 15px;
}   


.secondArea .fullName{
    font-size: 25px;
}
.secondArea .lookingForAJob{
    display: flex;
    flex-direction: column;
}
.secondArea .lookingForAJob img{
    width: 15px;
    height: 15px;
}
.profilePicture{
    width: 250px;
    height: 250px;
}

.thirdArea img{
    width: 25px;
    height: 25px;
}

.saveData{
    display: flex;
    height: 20px;
    justify-content: center;
}

/* responsive styles */

/* @media (max-width: 610px) {
    .profileDescription{
        display: flex;
        flex-wrap: wrap;
    }
    .profileDescription .secondArea{
        max-width: 170px;
    }
    .profileDescription .thirdArea{
        flex-direction: row;
    }
    .profileDescription .thirdArea a{
        padding: 10px;
    }
    .profilePicture{
        width: 170px;
        height: 170px;
    }
}  
.aboutMe{
    padding: 5px;
}
.changeProfileInfoForm{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    padding: 10px;
}
.changeProfileInfoForm .changeProfilePhotoField{
    display: flex;
    flex-direction: column;
}
.changeProfileInfoForm .profileInfoForm{
    display: flex;
    flex-direction: column;
    width: 255px;
    padding: 10px;
}
.profileInfoForm button{
    margin:auto;
    width: 50%;
    cursor: pointer;
}
.profileInfoForm .lookingForAJobArea{
    display: flex;
}
.profileInfoForm .contactsArea{
    width: 100%;
    display: flex;
}
.profileInfoForm span {
    width: 100%;
    min-width: 120px;
}
.profileInfoForm input {
    width: 100%;
    min-width: 20px
}

@media (max-width: 680px) {
    .changeProfileInfoForm{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .changeProfileInfoForm .profileInfoForm{
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .profileInfoForm input {
        min-width: 20px
    }
    .profileInfoForm span {
        width: 50%;
      
    }
    .profileInfoForm .lookingForAJobArea input{
        width: 50%;
    }
}  
.contactsChangeFieldUnActive{
    display: none;
}  */