.profileDescription{
    display: flex;
    flex-direction: row;
  
}
.profileDescription .editMode {
    position: absolute;
    padding:0;
    margin:0;
}   
.profileDescription .editMode button{
    cursor: pointer;
}   
.profileDescription .profileStatus{
   margin-top: 15px;
}   
.changeProfilePhotoButton{
    position:relative;
    width:250px;
    height:20px;
    padding:0;
    margin:0;
    border: transparent;
    background-color: transparent;
    left:90%;
    width:20px;
    height:20px;
} 
.changeProfilePhotoButton img{
    width: 25px;
    cursor: pointer;
}
.secondArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    padding: 10px;
    font-size: 17px;
}
.secondArea .fullName{
    font-size: 25px;
}
.secondArea .lookingForAJob{
    display: flex;
    flex-direction: column;
}
.secondArea .lookingForAJob img{
    width: 15px;
    height: 15px;
}
.profilePicture{
    width: 250px;
    height: 250px;
}
.thirdArea{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.thirdArea img{
    width: 25px;
    height: 25px;
}

@media (max-width: 610px) {
    .profileDescription{
        display: flex;
        flex-wrap: wrap;
    }
    .profileDescription .secondArea{
        max-width: 170px;
    }
    .profileDescription .thirdArea{
        flex-direction: row;
    }
    .profileDescription .thirdArea a{
        padding: 10px;
    }
    .profilePicture{
        width: 170px;
        height: 170px;
    }
}  
.aboutMe{
    padding: 5px;
}
.changeProfileInfoForm{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    padding: 10px;
}
.changeProfileInfoForm .changeProfilePhotoField{
    display: flex;
    flex-direction: column;
}
.changeProfileInfoForm .profileInfoForm{
    display: flex;
    flex-direction: column;
    width: 255px;
    padding: 10px;
}
.profileInfoForm button{
    margin:auto;
    width: 50%;
    cursor: pointer;
}
.profileInfoForm .lookingForAJobArea{
    display: flex;
}
.profileInfoForm .contactsArea{
    width: 100%;
    display: flex;
}
.profileInfoForm span {
    width: 100%;
    min-width: 120px;
}
.profileInfoForm input {
    width: 100%;
    min-width: 20px
}

@media (max-width: 680px) {
    .changeProfileInfoForm{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .changeProfileInfoForm .profileInfoForm{
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .profileInfoForm input {
        min-width: 20px
    }
    .profileInfoForm span {
        width: 50%;
      
    }
    .profileInfoForm .lookingForAJobArea input{
        width: 50%;
    }
}  
.contactsChangeFieldUnActive{
    display: none;
}