.nav{
  width: 20%;
  border-radius: 13px;
  text-align: center;
  font-weight: 400;
  z-index: 1;
}
.item{
  padding: 5px;
  cursor: pointer;
  border-radius: 7px;
} 
.item:hover{
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
  background-color: #dedede;
}
.itemRef{
  display: block;
  text-decoration: none;
  color: #000000;
} 

.activeRef{
  display: block;
  text-decoration: none;
  color: #A679CA;
}

@media (max-width: 560px) {
  .nav{
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
  }
}
