.nav{
  grid-area: n;
  background-color: rgb(67, 8, 118);
  width: 100%;
}
.item{
  text-align: center;
  margin: 10px;  
  color: white;
  text-decoration: none;
  cursor: pointer;
} 
.active{
  text-decoration: none;
  color: blueviolet;
}