.contacts{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    
}
.singleContact{ 
    padding: 5px;
}

@media (max-width: 560px) {
    .contacts{
        grid-template-columns: 1fr;
    }
}
