.changeProfilePhotoButton{
    position:relative;
    width:250px;
    height:20px;
    padding:0;
    margin:0;
    border: transparent;
    background-color: transparent;
    left:90%;
    width:20px;
    height:20px;
} 
.changeProfilePhotoButton img{
    width: 25px;
    cursor: pointer;
}