.addPostBlock{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A679CA;
    border-radius: 13px;
    box-shadow: 1px 2px 10px 2px #7f5d9c;
}
.postsBlock{
    background-color: #A679CA;
    box-shadow: 1px 2px 10px 2px #7f5d9c;
    border-radius: 13px;
    padding: 10px;
}
h3{
    text-align: center;
}
.post{
    color:rgb(255, 255, 255);
}
.post img{
    width: 300px;
    margin-right: 10px;
    border-radius: 13px;
}
.postDescription{
    display: flex;
    color: rgb(255, 255, 255);
    hyphens:auto;
}


@media (max-width: 610px) {
    
    .postDescription{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .postDescription img{
        width: 200px;
        height:  200px;
    }
}
