.addPostBlock{
    display: flex;
    padding: 10px;
    background-color: #A679CA;
    border-radius: 13px;
    box-shadow: 1px 2px 10px 2px #7f5d9c;
    background-color: rgb(255, 255, 255);
}
.postsBlock{
    background-color: #A679CA;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 2px #7f5d9c;
    border-radius: 13px;
    width: 100%;
}
h3{
    text-align: center;
    padding: 15px;
}
.post {
    padding: 10px;
}
.post img{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 13px;
}
.postDescription{
    display: flex;
    hyphens: none;
    overflow-wrap: break-all;
    color:rgb(0, 0, 0);
}

@media (max-width: 900px) {
    .postDescription{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .postDescription img{
       width: 100%;
    }
}
