.dialogs{
    display: flex;
    flex-direction: row;
    background-color: rgb(67, 8, 118);
     /* display: grid;
    grid-template-columns: 2fr 10fr;
    */
}
.messageArea{
    position: relative;
    min-height: 590px;
    max-height: 590px;
    background-color: rgb(138,43,226);
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
}
.messages{
    color:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
.addMessageField{
    display:flex;
    width: 100%;
    height: 100%;
}
.dialogs button{
    background-color: rgb(67, 8, 118);
    color: aliceblue;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.dialogsItems{
    color:rgb(54, 62, 137);
    min-width: 150px;
    margin-top: 10px;
}
/* .messages .message{
    
}
.dialogsItems .dialog{      
 
} */