.dialogs{
    background-color: rgb(67, 8, 118);
    width: 100%;
    height: 100%;  
    display: grid;
    grid-template-areas: 
    "c d ";
    grid-template-columns: 8fr 2fr;
}
.chat{
    position: relative;
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 592px;
    padding-top: 1%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color:rgb(255, 255, 255);
    background-color: rgb(130, 103, 211);
}
.addMessageField{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.chat TextArea{
    position: relative;
    resize: none;
     color: white;
     background-color: rgb(67, 8, 118);
     border: 1px solid white;
     float: left;
     width: 100%;
     min-height: 50px;
 }
 .chat TextArea::placeholder{
     color: #ffffff;
 }
.dialogs button{
    background-color: rgb(67, 8, 118);
    color: aliceblue;
    height: 100%;
    cursor: pointer;
    border: 1px solid white;
}
.dialogsItems{
    grid-area: d;
    color:rgb(54, 62, 137);
    margin-top: 10px;
    width: 100%;
}



@media (max-height: 600px) {
    .chat {
        height: 425px;
     }
}