.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogs-items{

}

.dialog{
    color:rgb(0, 0, 0);
}

.messages{
 color:rgb(51, 24, 24);
}

.messages .message{
 color: black;
}